.home__container {
	padding-top: 1.5rem;
	row-gap: 1.5rem;
}

.home__img {
	width: 320px;
	justify-self: center;
}

.home__data {
	text-align: center;
}

.home__title {
	font-size: var(--biggest-font-size);
	line-height: 140%;
	margin-bottom: var(--mb-0-5);
}

.home__description {
	font-size: var(--small-font-size);
	padding: 0 2rem;
	margin-bottom: var(--mb-2-5);
}

.button {
	display: inline-block;
	background-color: var(--first-color);
	color: #fff;
	padding: 1.15rem 2.75rem;
	font-weight: var(--font-medium);
	border-radius: 3rem;
	transition: 0.3;
}

.button:hover {
	background-color: var(--first-color-alt);
}
